$white: #fff;
$black: #000;
$red: #c33636;
$lt-gray: #e9e9e9;

page-login {
  .login-content {
    background: $lt-gray;

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn,
     .register-btn {
        color: $black;
        background: $white;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
        &:hover {
            color: $white;
            background: $black;
            border: 1px solid $black;
        }
     }

     .register-btn {
       color: $black;
       font-size: 0.8em;
     }
  }
}
