tiles-component {
	.card_grid {
		position: relative;
		width: 100%;
		margin: 0 auto;
		.col {
			position: relative;
			text-align: center;
			background: white;
			height: 200px;
			border: 1px solid black;
			cursor: pointer;
		}
		ion-card-header {
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			transform: translateY(-50%);
		}
	}
}
