tiles-component {
	.card_grid {
		position: relative;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		.col {
			position: relative;
			margin: 10px;
			height: 200px;
			text-align: center;
			background: white;
		}
		ion-card-header {
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			transform: translateY(-50%);
		}
	}
}
